/* PC */
@media (min-width: 1024px) {
  .hide-on-pc {
    display: none !important;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
}

/* Mobile and Tablet */
@media screen and (max-width: 1023px) {
  .hide-on-mobile-tablet {
    display: none !important;
  }

  .navbar {
    justify-content: space-between;
  }

  .navbar-list {
    max-height: 0;
  }

  .navbar-list {
    width: 100vw;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .navbar-input:checked ~ .navbar-list {
    max-height: 100%;
    display: block !important;
  }

  .navbar-list .navbar-item:first-child {
    border-top: 1px solid var(--white-color);
  }

  .navbar .navbar-item:last-child {
    margin: 4px 0 0 0;
  }

  .features-content .col {
    margin-top: 50px;
    padding: 0 16px;
  }

  .skills-content .col:nth-child(3),
  .skills-content .col:nth-child(4) {
    margin-top: 50px;
  }

  .container-fluid .col:first-child {
    margin-top: 24px;
  }

  .contact-info {
    margin-top: 36px;
  }
}

/* Tablet*/
@media screen and (min-width: 740px) and (max-width: 1023px) {
  .hide-on-tablet {
    display: none;
  }
}

/* Mobile  */
@media screen and (max-width: 739px) {
  .hide-on-mobile {
    display: none !important;
  }
}
